<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.relation.tag.mapper.primary.HomeDataAnalysisMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.relation.tag.entity.HomeDataAnalysis">
        <id column="analysis_date" property="analysisDate" />
        <result column="analysis_result" property="analysisResult" />
    </resultMap>

</mapper>
