<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.relation.tag.mapper.primary.UgcLabelDataAnalysisRecordMapper">
    <sql id="TableName">ugc_label_data_analysis_record</sql>

    <update id="updateDownloadPath">
        update <include refid="TableName"/>
        set download_path=#{downloadPath},
        updated_at=current_timestamp
        where ulda_id=#{uldaId} and download_path is null
    </update>

</mapper>
