<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.relation.tag.mapper.greenplum.GreenplumAddressLabelGpMapper">
    <sql id="TableName">address_label_gp</sql>

    <update id="exceSql" timeout="864000">
        ${exceSqlStr}
    </update>

    <select id="exceSelectSql" resultType="java.lang.Integer" timeout="864000">
        ${exceSelectSql}
    </select>

    <select id="selectQueryStr" resultType="java.lang.String" timeout="864000">
        select query from pg_stat_activity
    </select>


    <select id="selectDataAnalysis" resultType="com.relation.tag.entity.UgcLabelDataAnalysis">
        select *
        from ugc_label_data_analysis
        where (status = 'DONE' or status='FAIL') and config_environment=#{configEnvironment}
        order by updated_at ASC limit 20
    </select>

    <update id="updateBatch">
        update ugc_label_data_analysis set status='FINISHED'
        where id in
        (<foreach collection="list" item="item" separator=",">
        #{item.id}
    </foreach>) and status = 'DONE'  and config_environment = #{configEnvironment}
    </update>

    <update id="updateDataAnalysisFail">
        update ugc_label_data_analysis set status='FAIL'
        where id = #{id}  and config_environment = #{configEnvironment}
    </update>



    <update id="insertBatch">
        insert into ugc_label_data_analysis(id,name,
        address,
        api_level,
        mode,
        labels,
        status,
        analysis_result,
        created_at,
        updated_at,
        removed,
        config_environment,
        type,
        "sql")
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.name},#{item.address},#{item.apiLevel},#{item.mode},#{item.labels},
            #{item.status},#{item.analysisResult},#{item.createdAt},#{item.updatedAt}, #{item.removed}, #{configEnvironment}
            ,#{item.type},#{item.sql})
        </foreach>
        on conflict (id, config_environment) do update set status=EXCLUDED.status, name = EXCLUDED.name, api_level = EXCLUDED.api_level
            , type = EXCLUDED.type, "sql" = EXCLUDED."sql"
    </update>

    <select id="selectTagResult" resultType="java.lang.String">
        select batch_date
        from tag_result where table_name = #{resultTableName} order by batch_date desc limit 1
    </select>

    <select id="selectHomeDataAnalysis" resultType="com.relation.tag.entity.HomeDataAnalysis">
        select analysis_date,analysis_result
        from home_data_analysis where config_environment = #{configEnvironment} order by analysis_date desc limit 1
    </select>

</mapper>
